$white-light: #f1f1f1;
$white-mid: #e3e3e3;
$white-dark: #cecece;
$black-light: #2b2b2b;
$black-mid: #1D1D1D;
$black-dark: #0a0a0a;

@mixin vert-strech-center {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-container {
  background-color: $white-mid;
  width: 100%;
  @include vert-strech-center();
  justify-content: center;

  nav {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    height: 80px;
  }

  span {
    margin-right: auto;
    color: $black-mid;
    @include vert-strech-center()
  }

  .nav-items {
    display: flex;
    @include vert-strech-center()
  }

  .nav-item {
    list-style-type: none;
    width: 5rem;
    @include vert-strech-center();

    &:hover {
      background-color: $white-dark;
    }

    a {
      text-decoration: none;
      color: $black-mid;
      width: 100%;
      @include vert-strech-center();
      justify-content: center;
    }
  }
}
