@import "./components/Navbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem 2rem;

  &.dark {
    background-color: $black-light;
    color: $white-mid;
  }
}

h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem 0;
}